<!-- <%- include('../partials/header') %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="card">
    <div class="card-body">
    <div class="nameStudent">
        <label for="formGroupnameStudent" class="form-label">Student's Name</label>
        <br>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="your name here">
    </div>
    <br>
    <br>
    <div class="taskName">
        <label for="formGrouptaskName" class="form-label">Task's Name</label>
        <br>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="your new task here">
    </div>
    <br>
    <br>
    <div class="taskSubject">
        <label for="formGrouptaskSubject" class="form-label">Task's Subject</label>
        <br>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="your new task subject here">
        <div class="teacherName">
            <br>
            <br>
            <label for="formGroupteacherName" class="form-label">Teacher's Name</label>
            <br>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="your teacher's name here">
            <div class="totalTaskNumber">
                <br>
                <br>
                <label for="formGrouptotalTaskNumber" class="form-label">Task's Total Number</label>
                <br>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Select total task number</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <div class="Deadline">
                    <br>
                    <br>
                    <div>
                        <label for="formGroupDeadline" class="form-label">Task's deadline</label>
                        <br>
                        <input type="date" id="start" name="trip-start" value="2021-10-21" min="2021-10-21"
                        max="2021-10-31">
                    </div>
                    <br>
                    <br>
                    <div>
                        <button type="button" class="btn btn-update">Update</button>
                        <button type="button" class="btn btn-cancel">Cancel</button>
                    </div>
                </div>
                </div>
                </body>
                </html>
                    <!-- <%- include('../partials/footer') %> -->
                    