<!-- <%- include('../partials/header') %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">

    <title>Document</title>
</head>
<body>
    
</body>
</html>
<div class="card">
<div class="card-body">
    <form class="login">
        <div class="card-title">Login</h30>
        <br>
        <br>
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInput">Your Username</label>
    <br>
    <input type="text" class="form-control" id="autoSizingInput" placeholder="Username">
  </div>
  <br>
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInputGroup">Your Password</label>
    <div class="input-group">
      <div class="input-group-text"></div>
      <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Password">
    </div>
  </div>
  <br>
  <br>
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingSelect">Roles</label>
    <select class="form-select" id="autoSizingSelect">
      <option selected>Choose...</option>
      <option value="1">Student</option>
      <option value="2">Teacher</option>
    </select>
  </div>
  <br>
  <br>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
</div>
</div>
<!-- <%- include('../partials/footer') %> -->